<div class="container">
  <h2 class="text-secondary text-center mt-3">Password Recovery Form</h2>
  <hr>
  <div class="row">
    <div class="col-md-12 col-lg-3"></div>
    <div class="col-md-12 col-lg-6 text-center ">
      <div class="bg-white mx-md-3 p-5">
        <h3 class="text-emerald text-center mb-3">Reset your password?</h3>
        <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" disabled class="form-control form-control-lg" id="inputEmail" formControlName="email"
              aria-describedby="emailHelp">
              <div *ngIf="passwordRecoveryForm.get('email').invalid && isValidFormSubmitted != null && !isValidFormSubmitted"
              [ngClass]="'error'">
              Password required.
            </div>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="intputPassword">Password</label>
            <input type="password" class="form-control form-control-lg" id="intputPassword" formControlName="password">
            <div *ngIf="passwordRecoveryForm.get('password').invalid && isValidFormSubmitted != null && !isValidFormSubmitted"
              [ngClass]="'error'">
              Password required.
            </div>
          </div>
          <div class="form-group">
            <label for="intputPasswordConfirm">Confirm Password </label>
            <input type="password" class="form-control form-control-lg" id="intputPasswordConfirm"
              formControlName="passwordConfirm">
              <div *ngIf="passwordRecoveryForm.get('passwordConfirm').invalid && isValidFormSubmitted != null && !isValidFormSubmitted"
              [ngClass]="'error'">
              Confirm Passsword required.
            </div>
          </div>
          <button type="submit" class="btn btn-emerald">Reset password</button>
          <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
          </p>
        </form>
      </div>
    </div>
    <div class="col-md-12 col-lg-3"></div>
  </div>

</div>