<div class="page-footer  footer pt-4">
     <!-- Footer Text -->
     <hr>
     <div class="container text-center ">

        <!-- Grid row -->
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 p-0 m-0">
                <h4 class="text-center text-uppercase font-weight-bold p-0 m-0">E - Learning</h4>
                <p class="">This website is created for graduation thesis purposes </p>
            </div>
            <div class="col-md-2">

            </div>
            
  
          
  
        </div>
        <!-- Grid row -->
  
    </div>
      <!-- Footer Text -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-1 pb-3 mb-3">© 2020 Copyright:
        <a href="https://github.com/huuduc14665">Nguyễn Hoàng Hữu Đức</a><span> - </span>
        <a href="https://github.com/dnTrungTruong">Đàm Nguyễn Trung Trường</a>
      </div>
      <!-- Copyright -->
</div>