<nav class="navbar navbar-expand-lg navbar-dark bg-success  px-5">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><strong>E-Learning</strong></a>
    <!-- <div class="input-group" style="width: 400px;">
      <div class="input-group-prepend">
        <span class="input-group-addon "><i class="fa fa-search nav-search-icon"></i></span>
      </div>
      
      
    
    </div> -->
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-1" id="navbarNavDropdown">
      <ul class="navbar-nav ml-3  mr-auto ">
        <li class="nav-item" >
          <div class="input-group" >
            <div class="input-group-prepend ">
              <span class="input-group-text search-rounded cursor-pointer-item" id="search-span" (click)="navigateSearch(search.value)"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input #search type ="text" class="form-control search-rounded"  placeholder="Search for anything..."  (keyup.enter)="navigateSearch(search.value)">
          </div>
        </li>
      </ul>
      
      <ul class="navbar-nav  ml-auto mr-lg-3">
        <li class="nav-item" >
          <a class="nav-item nav-link btn btn-outline-light px-3" id = "btn-login" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-lg-3">
        <li class="nav-item">
          <a class="nav-link btn text-success btn-light" routerLink="/register"  *ngIf="!isLoggedIn">Sign up</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light text-center px-3"  *ngIf="isAdmin || isModerator" routerLink="/admin">Admin Panel</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  text-light text-center px-3" *ngIf="isLoggedIn" routerLink="/my-enrolled-courses" ><u>My courses</u></a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item dropdown">
          <a class="nav-link text-light text-center mx-sm-3 mx-md-1 cursor-pointer-item" id="navbarDropdownNotifications" (click)="checkNotification()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-bell"></i>
            <span *ngIf="unCheckedNotifications.length > 0" class="badge badge-danger">{{unCheckedNotifications.length}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownNotifications-5">
            <div class="notifications-wrapper">
              <p *ngIf="noNotifications" class="text-dark notification-item">There is no notification yet.</p>
              <a *ngFor="let notification of notificationsList" class="dropdown-item p-0 cursor-pointer-item" (click)="goToNotificationTarget(notification)">
                <div class="notification-item" [ngStyle]="{'background': notification.users[0].checked == false ? '#1CC88852' :  '#EEEEEE'}">
                  <p class="text-dark mb-0"><strong>{{notification.performedBy.firstname}} {{notification.performedBy.lastname}}</strong> 
                    {{notification.action}} in
                    <strong *ngIf="notification.target.course">{{notification.target.course?.name}}</strong>
                    <strong *ngIf="notification.target.review">{{notification.target.review?.course.name}}</strong>
                  </p>
                  <p class="mb-0 text-success"><small>{{calculateTimeToCurrent(notification.date)}}</small></p>
                </div>
              </a>
            </div>
          </div>
          
        </li>
        
        
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light mx-3" role="button" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  