<nav class="shadow-lg navbar navbar-expand-lg navbar-dark bg-success  sticky-top px-5">
  <div class="container">
    <a routerLink="/" class="navbar-brand">E-Learning</a>
    <!-- <div class="input-group" style="width: 400px;">
      <div class="input-group-prepend">
        <span class="input-group-addon "><i class="fa fa-search nav-search-icon"></i></span>
      </div>
      
      
    
    </div> -->
    <div class="input-group ml-3 " style="width:400px;">
      <div class="input-group-prepend ">
        <span class="input-group-text search-rounded" id="search-span" (click)="navigateSearch(search.value)"><i class="fa fa-search fa-fw"></i></span>
      </div>
      <input matInput #search type ="text" class="form-control search-rounded"  placeholder="Search anything, course name, subject..."  (keyup.enter)="navigateSearch(search.value)">
      
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"(click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-1" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
      
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item" >
          <a class="nav-item nav-link btn btn-outline-light px-3" id = "btn-login" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav  mr-3">
        <li class="nav-item">
          <a class="nav-link btn text-success btn-light" routerLink="/register"  *ngIf="!isLoggedIn">Sign up</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light px-3" role="button" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  