<div class="container mt-3 p-3">
    <div class="card p-5">
        <div class="card-body pt-1">
            <h1 class="congrat-title text-center pt-0 mb-5">Congratulations</h1>
            <h5 class="mt-3">Dear <strong>{{certificate?.user.firstname}} {{certificate?.user.lastname}},</strong></h5>
            <p class="title mt-3">You have completed the course <strong>{{certificate?.course.name}}</strong></p>
            <p *ngIf="!isProgramingCourse" class="final-score">Your final score: <strong>{{certificate?.finalScore}}</strong></p>
            <p class="mb-3">You did it. It must be a very proud moment for you. All of the hard work you have put in has paid off.
                We know this is just a beginning of your successful jouney. Your reward lies ahead. Have a successful
                future.
                Congratulations and best wishes.
            </p>
            <p><small>P/s: We included your certificate below. You can download it to your device anytime.</small></p>
            <div class="row mt-5">
                <div class="col-6 text-center">
                </div>
                <div class="col-6 text-center">
                    <p class="mt-3 mb-1 mr-5">{{certUTCTime}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-6 text-center">
                    <p>E - Learning Team</p>
                    <p class="team-sign">Dam Nguyen Trung Truong </p>
                    <p class="team-sign">Nguyen Hoang Huu Duc</p>
                </div>
                <div class="col-6 text-center">
                    <p>Your instructor</p>
                    <p class="instructor-sign">{{certificate?.course.instructor.firstname}} {{certificate?.course.instructor.lastname}}</p>
                </div>
            </div>
        </div>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <img class="vertical-decoration top"
                        src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png">
                    <img class="vertical-decoration bottom"
                        src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png">

                        <img class="logo" [src]="certificate?.url" alt="Five Bells logo">
                    
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <a [href]="certificate?.url" target="_blank" class="btn btn-primary">Save your certificate</a>
            </div>
        </div>
    </div>
</div>
