.grid-container {
  margin: 20px;
}
.dashboard-subject {
  cursor: pointer;
}

.dashboard-card {
  transition: transform .5s ease;
}

.dashboard-flex-card > div > div.card {
  /* height: calc(100% - 15px); */
  height: calc(100% - 25px);;
}

.dashboard-card:hover {
  background-color:#1CC88A;
  cursor:pointer;
}

.dashboard-card:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

.dashboard-card-text {
  min-height: 2.6rem;
  font-size: 1.35rem;
  font-weight: 500;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.course-image {
  height: 23vh;
  object-fit: fill;
}

.card {
  border: 2px solid rgba(0, 0, 0, 0.125);
}

/* .card-header {
  background-color: rgb(226 226 226);
} */

.card-body {
  padding: 0 !important;
}

.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
  width:100%;
}

.list-group {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.notify-badge{
  position: absolute;
  font-size: 1rem;
}

.text-dark {
  color: #212433 !important;
}

a {
  text-decoration: none;
  color: #141132 !important;
}

.owl-next, .owl-prev {
  height: 50px !important;
  width: 50px !important;
  position:absolute !important;
  top: 50%;
}

.owl-next {
  color: #1CC88A !important;
  right: 0;
  transform: translate(-50%, -50%);
}

.owl-prev {
  left: 0;
  transform: translate(-50%, -50%);
}
 
.owl-next i, .owl-prev i{
  font-size: 1.3rem;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}