.grid-container {
  margin: 20px;
}
.dashboard-subject {
  cursor: pointer;
}

.dashboard-card {
  transition: transform .5s ease;
}

.dashboard-flex-card > div > div.card {
  /* height: calc(100% - 15px); */
  height: calc(100% - 25px);;
}

.dashboard-card:hover {
  background-color:#1CC88A;
  cursor:pointer;
}

.dashboard-card:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

.dashboard-card-text {
  min-height: 35px;
  font-size: 18px;
  font-weight: 500;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.card-body {
  padding: 0 !important;
}

