.grid-container {
  margin: 20px;
}
.dashboard-subject {
  cursor: pointer;
}

.dashboard-card {
  transition: transform .5s ease;
}

.dashboard-flex-card > div > div.card {
  /* height: calc(100% - 15px); */
  height: calc(100% - 25px);;
}

.dashboard-card:hover {
  background-color:#1CC88A;
  cursor:pointer;
}

.dashboard-card:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

.dashboard-card-text {
  min-height: 35px;
  font-size: 18px;
  font-weight: 500;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.my-card-title {
  text-align: center;
}
.card-body {
  padding: 0 !important;
}

.home-card {
  margin: 15px;
}

.card-course-content {
  box-shadow: 3px 3px 6px #444444;

}

.card-course-content:hover {
  box-shadow: 3px 3px 6px #1CC88A;
  cursor:pointer;
}

.course-image {
  height:20vh;
}
.course-name {
  height: 5vh;
  font-size: 15px;
  font-weight: 400;
}
.course-price  {
  font-size: 16px;
  font-weight: 400;
  color: green;
  text-align: center;
}
.course-info {
  padding:15px;
}

.course-details-btn {
  background-color: #1CC88A;
  color: white;
}
.course-details-btn:hover {
  background-color: white;
  color:#1CC88A;
  border-color:#1CC88A;
  display:block;
}

