<!-- Course overview-->
<div class="container-fuild bg-dark text-light pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4 text-center">
                <img [src]="course?.img_url" style="max-width: 100%;height: auto" alt="Course's image">
                <p class="mt-1 text-mediumsize text-light mb-0 font-weight-bold"><strong>9.9</strong> $</p>
                <button *ngIf="isEnrolled" (click)="goToCourseLearningPage()"
                    class="btn btn-emerald btn-block center course-enroll-btn mx-auto  text-mediumsize">
                    Go to course</button>
                <button *ngIf="!isEnrolled" (click)="enrollCourse()"
                    class="btn btn-emerald btn-block center course-enroll-btn mx-auto  text-mediumsize">
                    Enroll now</button>
            </div>
            <div class="col-xs-6 col-md-8 px-xs-1 px-md-0 mt-3">
                <a routerLink="/" class="text-decoration-none text-info">Home </a>
                <i class="fa fa-angle-double-right fa-fw"></i>
                <a [routerLink]="['/courses',course?.subject?.name]"
                    class="text-decoration-none text-info">{{course?.subject?.name}} </a>
                <h1 class="mb-3">{{course?.name}}</h1>
                <p class="mb-3">{{course?.overview}}</p>
                <p>Instructor: <strong>{{course?.instructor.firstname}} {{course?.instructor.lastname}}</strong></p>
                <p>
                    <span *ngIf="course?.type=='mooc'" class="badge badge-success text-mediumsize">MOOC</span>
                    <span *ngIf="course?.type=='online'" class=" badge badge-primary text-mediumsize">Online</span>
                    <span *ngIf="course?.type=='programming'" class="badge badge-secondary text-mediumsize">Programming</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Course objectives-->
<div class="container border border-success px-xs-3 px-md-5 my-3 py-3 course-content-box">
    <h2 class="text-body mt-xs-1 mt-md-3">What you will learn?</h2>
    <div class="container mx-xs-0 mx-md-3 my-3">
        <ul class="mycourse-objectives mx-xs-0 mx-md-1">
            <div class="row">
                <div class="col-xs-12 col-md-6 py-1 text-justify" *ngFor="let objective of course?.objectives">
                    <li>
                        {{objective}}
                    </li>
                </div>
            </div>

        </ul>
    </div>

</div>
<!-- Course description-->
<div class="container border border-success px-xs-3 px-md-5 my-3 py-3 course-content-box">
    <h2 class="text-body mt-xs-1 mt-md-3">Description</h2>
    <div class="container mx-xs-0 mx-md-3 my-3">
        <ul class="mycourse-objectives mx-xs-0 mx-md-1">
            <div [innerHtml]="course?.description | safeHtml"></div>

        </ul>
    </div>
</div>
<!-- Course contents-->
<div class="container border border-success px-xs-3 px-md-5 my-3 py-3 course-content-box">
    <h2 class="text-body mt-xs-1 mt-md-3">Course's contents</h2>
    <div class="container  text-dark mx-xs-0 mx-md-3 my-3">
        <div class="accordion pr-3 py-xs-0 py-md-1" id="accordion">
            <div *ngFor="let section of course?.sections; let i=index" class="card">
                <div class="card-header" [id]="'heading'+section._id">
                    <h5 class="mb-0 text-truncate">
                        <button class="btn btn-link text-dark " data-toggle="collapse"
                            [attr.data-target]="'#collapse'+section._id" [attr.aria-controls]="'collapse'+section._id">
                            <strong>Section {{i+1}}:</strong> {{section.name}}
                        </button>
                    </h5>
                </div>
                <div [id]="'collapse'+section._id" class="collapse" [attr.aria-labelledby]="'heading'+section._id"
                    data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let lecture of section.lectures; let j=index"
                                class="py-xs-0 py-md-1 text-truncate">
                                <strong>Lecture {{j+1}}:</strong> {{lecture.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Course reviews-->
<div class="container my-3 py-3 rating-block">
    <h3 class="text-body my-1 px-xs-1 px-md-3">Student feedbacks</h3>
    <div class="px-xs-1 px-md-3 mt-3" *ngIf="!hasReviews">
        <p class="text-secondary">This course doesn't have any reviews yet</p>
    </div>
    <button *ngIf="!hasMadeReview && isEnrolled && !isAuthor"   class="btn btn-emerald my-1 mx-xs-1 mx-md-3" type="button" data-toggle="modal" data-target="#reviewModal">
        Leave a review?
    </button>

    <ng-container *ngIf="!hasMadeReview && isEnrolled && !isAuthor">
        <div  class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Leave a review</h5>
                        <button #closeReviewModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form accept-charset="UTF-8" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                            <h4>How would you rate this course? </h4>
                            <ngb-rating [(rate)]="userReviewRate" [max]="5" class="text-center mb-3">
                                <ng-template #myStar let-fill="fill">
                                    <span class="review-star" [class.star-full]="fill === 100"
                                        style="font-size:1.5rem !important;">
                                        <span class="review-star-half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                </ng-template>
                            </ngb-rating>
                            <div class="form-group">
                                <textarea class="form-control" cols="50" id="review-content" formControlName="reviewContent"
                                    placeholder="Enter your review here..." rows="5" ></textarea>
                            </div>
                            <div *ngIf="invalidReviewContent" class="text-danger">Please write something about this course before submit.</div>
                            <button type="submit" class="button btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <div *ngIf="hasReviews">

        <div  class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel">Make your reply</h5>
                        <button #closeReplyModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form accept-charset="UTF-8" [formGroup]="replyForm" (ngSubmit)="onSubmitReply()">
                            <div class="form-group">
                                <textarea class="form-control" cols="50" id="reply-content" formControlName="replyContent"
                                    placeholder="Enter your reply here..." rows="3" ></textarea>
                            </div>
                            <div *ngIf="invalidContent" class="text-danger">Please write a reply for this review before submit.</div>
                            <button type="submit" class="button btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-xs-3 px-md-5 my-3 py-3 mx-3 rating-summary-block ">
    
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="text-center">
                    <h4>Average user rating</h4>
                    <h2 class="bold mb-0">{{course?.avgRate}} <small>/ 5</small></h2>
                    <div>
                        <!-- <ng-container *ngFor="let i of [].constructor(fixedAvgRate)">
                            <span><i class="text-warning fa fa-star fa-3x" aria-hidden="true"></i></span>
                        </ng-container> -->
                        <ng-template #myStar let-fill="fill">
                            <span class="review-star" [class.star-full]="fill === 100">
                                <span class="review-star-half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
    
                        <ngb-rating [(rate)]="course && course.avgRate" [starTemplate]="myStar" [readonly]="true" [max]="5"
                            class="m-0"></ngb-rating>
    
                    </div>
    
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-9 align-self-center p-md-3">
                <button type="button" class="btn btn-emerald px-xs-1 m-xs-1 m-1 align-middle">All
                    ({{reviewsListCount[0]}})</button>
                <button type="button" class="btn btn-success px-xs-1 m-1 m-md-3 align-middle">5 Star
                    ({{reviewsListCount[5]}})</button>
                <button type="button" class="btn btn-success px-xs-1 m-1 m-md-3 align-middle">4 Star
                    ({{reviewsListCount[4]}})</button>
                <button type="button" class="btn btn-warning px-xs-1 m-1 m-md-3 align-middle">3 Star
                    ({{reviewsListCount[3]}})</button>
                <button type="button" class="btn btn-warning px-xs-1 m-1 m-md-3 align-middle">2 Star
                    ({{reviewsListCount[2]}})</button>
                <button type="button" class="btn btn-danger m-1 m-md-3 align-middle">1 Star
                    ({{reviewsListCount[1]}})</button>
            </div>
            <hr />
    
        </div>
        <div >
            <div class="row mt-3 mx-0 review-block" *ngFor="let review of reviewsList">
                <div class="col-sm-2 text-center">
                    <img src="https://e-learning-10r825s36vuq028g5csk.s3.amazonaws.com/public_assets/1619937744513-user.png" class="img img-rounded img-fluid px-3">
                    <div class="text-info">{{review.user.firstname}} {{review.user.lastname}}</div>
                </div>
                <div class="col-sm-10">
                    <div class="review-block-rate ">
                        <!-- <ng-container *ngFor="let i of [].constructor(review.rate)">
                            <span><i class="text-warning fa fa-star fa-2x" aria-hidden="true"></i></span>
                        </ng-container> -->
                        <ng-template #myStar let-fill="fill">
                            <span class="review-star" [class.star-full]="fill === 100" style="font-size:1.5rem !important;">
                                <span class="review-star-half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
    
                        <ngb-rating [(rate)]="review && review.rate" [starTemplate]="myStar" [readonly]="true" [max]="5"
                            class="m-0"></ngb-rating>
    
                        <div class="review-block-date text-secondary font-weight-light align-middle ml-1">
                            {{review.date.toString().slice(0,10)}} - {{calculateTimeToCurrent(review.date)}}
                        </div>
                    </div>
    
                    <div class="m-1 p-1 text-dark">{{review.content}}</div>
                    <button *ngIf="!review.reply && isAuthor" (click)="postReply(review)"  class="btn btn-emerald float-right" type="button" data-toggle="modal" data-target="#replyModal">
                        <i class="fa fa-reply"></i> Reply
                    </button>
                </div>

                <ng-container *ngIf="review.reply">
                    <div class="row review-reply-block">
                        <div class="col-sm-4 "></div>
                        <div class="col-sm-2 review-reply-info text-center">
                            <div class="text-info">{{review.reply.user.firstname}} {{review.reply.user.lastname}}<br>
                                <strong>Author</strong>
                            </div>
        
                        </div>
                        <div class="col-sm-6 ">
                            <div class="review-block-date text-secondary font-weight-light">
                                {{review.reply.date.toString().slice(0,10)}} - {{calculateTimeToCurrent(review.date)}}
                            </div>
                            <div class="text-dark">{{review.reply.content}}</div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>    
</div>