.dashboard-subject {
    cursor: pointer;
  }
  
  .course-name {
      height: 5vh;
      font-size: 15px;
      font-weight: 400;
  }
  .course-price  {
    font-size: 16px;
    font-weight: 400;
    color: green;
    text-align: center;
  }
  .course-info {
    padding:15px;
  }
  
  .course-details-btn {
    background-color: #1CC88A;
    color: white;
  }
  .course-details-btn:hover {
    background-color: white;
    color:#1CC88A;
    border-color:#1CC88A;
    display:block;
  }
  .card-body {
    padding: 0 !important;
  }
  .card-course-content {
    box-shadow: 3px 3px 6px #444444;
  
  }
  
  .card-course-content:hover {
    box-shadow: 3px 3px 6px #1CC88A;
    cursor:pointer;
  }
  
  .course-image {
    height:20vh;
  }
  .course-name {
    height: 5vh;
    font-size: 15px;
    font-weight: 400;
  }
  .course-price  {
    font-size: 16px;
    font-weight: 400;
    color: green;
    text-align: center;
  }
  .course-info {
    padding:15px;
  }
  /* 
  .course-details-btn {
    background-color: #1CC88A;
    color: white;
  }
  .course-details-btn:hover {
    background-color: white;
    color:#1CC88A;
    border-color:#1CC88A;
    display:block;
  } */
  
  .course-image {
    height: 23vh;
  }
  
  .card-body {
    padding: 0 !important;
  }
  
  .item {
    position:relative;
    padding-top:20px;
    display:inline-block;
  }
  .notify-badge{
    position: absolute;
    font-size: 1rem;
  }

  
.list-group {
  border: 1px solid rgba(0, 0, 0, 0.125);
}