body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.text-success {
    color: #1CC88A !important;
}